@charset "UTF-8";
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000;
  margin-bottom: 130px;
  z-index: -100;
}
header nav {
  border-bottom: 1px solid #d9d9d9;
}
header nav ul {
  display: flex;
  margin-right: 120px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
}
header nav ul li + li {
  margin-left: 40px;
}
header .header-box p {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 18px;
}

@media only screen and (max-width: 1150px) {
  header nav img {
    width: 200px;
    height: auto;
  }
}
@media only screen and (max-width: 992px) {
  header {
    margin-bottom: 80px;
  }
  header nav img {
    width: 200px;
  }
  header nav ul {
    text-align: left;
    margin-left: 27px;
  }
  header nav ul li + li {
    margin-left: 0px;
  }
  header nav .header-box {
    margin-left: 27px;
    margin-top: 10px;
  }
}
main p {
  margin-bottom: 1rem;
  line-height: 25px;
}
main h2,
main h3 {
  margin-bottom: 5px;
}
main .carousel {
  width: 70%;
  height: 570px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 80px;
}
main .carousel .carousel-inner .carousel-item {
  height: 100%;
}
main .carousel .carousel-inner .carousel-item img {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  main .carousel {
    width: 90%;
    height: 480px;
  }
}
@media only screen and (max-width: 852px) {
  main .carousel {
    height: 420px;
  }
}
@media only screen and (max-width: 702px) {
  main .carousel {
    height: 370px;
  }
}
@media only screen and (max-width: 652px) {
  main .carousel {
    height: 300px;
  }
}
@media only screen and (max-width: 562px) {
  main .carousel {
    padding-top: 10px;
    height: 270px;
  }
}
@media only screen and (max-width: 462px) {
  main .carousel {
    height: 230px;
  }
}
main .home-text {
  width: 70%;
  border-top: 1px solid #d9d9d9;
  padding-top: 40px;
  margin: 0 auto;
  margin-bottom: 90px;
  line-height: 25px;
}
main .home-text p > img {
  width: 140px;
  height: auto;
  margin-bottom: 30px;
}
main .home-text span {
  font-weight: bold;
}
@media only screen and (max-width: 492px) {
  main .home-text {
    width: 80%;
  }
}
main .news {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}
main .news h1 {
  font-weight: normal;
  font-size: 30px;
}
main .news .news-box {
  color: #000;
}
main .news .news-box .news-list a {
  color: #5fa6ac;
}
main .news .news-box .news-list a:hover {
  color: #5fa6ac;
}
main .news a {
  text-decoration: none;
}
main .news a img {
  width: 60%;
}
@media only screen and (max-width: 492px) {
  main .news {
    width: 80%;
  }
}
main .sns {
  width: 70%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 80px;
}

footer {
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  font-weight: lighter;
  height: 200px;
  width: 100%;
  margin: auto;
}
footer p {
  font-size: 12px;
  font-weight: normal;
}
footer nav ul li {
  list-style: none;
}
footer nav ul li li + li {
  margin-top: 20px;
}
footer nav ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
}
footer .footer-text {
  line-height: 14px;
}

@media only screen and (max-width: 992px) {
  footer {
    display: block;
    text-align: center;
    height: 290px;
  }
  footer .copyRight {
    padding: 20px 0;
  }
  footer ul li {
    margin: 10px 0;
  }
  footer .footer-text {
    margin: 20px 0;
    line-height: 18px;
  }
}
.title-box {
  width: 80%;
  margin: 0 auto;
}
.title-box h1 {
  color: #787878;
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.title-box p {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1400px) {
  .title-box p > img {
    width: 1050px;
  }
}
@media only screen and (max-width: 1200px) {
  .title-box p > img {
    width: 900px;
  }
}
@media only screen and (max-width: 1010px) {
  .title-box p > img {
    width: 800px;
  }
}
@media only screen and (max-width: 900px) {
  .title-box p > img {
    width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  .title-box p > img {
    width: 620px;
  }
}
@media only screen and (max-width: 700px) {
  .title-box p > img {
    width: 520px;
  }
}
@media only screen and (max-width: 600px) {
  .title-box p > img {
    width: 460px;
  }
}
@media only screen and (max-width: 530px) {
  .title-box p > img {
    width: 400px;
  }
}
@media only screen and (max-width: 462px) {
  .title-box h1 {
    padding-top: 30px;
  }
  .title-box p > img {
    width: 320px;
    height: 120px;
  }
}
@media only screen and (max-width: 400px) {
  .title-box p > img {
    width: 310px;
  }
}
.philosophy-list {
  width: 60%;
  margin: 0 auto;
  color: #333;
  margin-bottom: 40px;
}
.philosophy-list h2 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}
.philosophy-list:last-child {
  margin-bottom: 100px;
}

@media only screen and (max-width: 800px) {
  .philosophy-list {
    width: 80%;
  }
}
.concept {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.concept .concept-img {
  width: 50%;
}
.concept .concept-img img {
  max-width: 500px;
}
.concept .concept-text {
  width: 50%;
}
.concept .concept-text p {
  color: #333;
  text-align: center;
}
.concept .concept-text p:last-child {
  text-align: right;
}
.concept .concept-text .lewis {
  color: #696969;
  line-height: 30px;
}

@media only screen and (max-width: 1200px) {
  .concept .concept-img img {
    max-width: 400px;
  }
}
@media only screen and (max-width: 1020px) {
  .concept .concept-img img {
    max-width: 350px;
  }
}
@media only screen and (max-width: 950px) {
  .concept {
    width: 80%;
    display: block;
    margin-bottom: 30px;
  }
  .concept .concept-img {
    width: 100%;
    margin-bottom: 35px;
  }
  .concept .concept-img p {
    text-align: center;
  }
  .concept .concept-img p img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  .concept .concept-text {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .concept .concept-img {
    margin-bottom: 20px;
  }
  .concept .concept-img p img {
    width: 320px;
    height: 320px;
    object-fit: cover;
  }
}
.housing-design {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.housing-design .housing-design-box {
  width: 60%;
  margin-right: 80px;
}
.housing-design .housing-design-box h2 {
  color: #000;
  font-size: 17px;
  font-weight: bold;
}
.housing-design .housing-design-box p {
  color: #333;
  line-height: 28px;
  font-weight: lighter;
}
.housing-design .housing-design-box .housing-design-text {
  font-weight: bold;
  color: #000;
}
.housing-design .housing-design-img {
  width: 40%;
}
.housing-design .housing-design-img img {
  max-width: 400px;
}

@media only screen and (max-width: 1020px) {
  .housing-design .housing-design-img img {
    max-width: 350px;
  }
}
@media only screen and (max-width: 950px) {
  .housing-design {
    width: 80%;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  .housing-design .housing-design-img {
    width: 100%;
    margin-bottom: 35px;
  }
  .housing-design .housing-design-img p {
    text-align: center;
  }
  .housing-design .housing-design-img p img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  .housing-design .housing-design-box {
    width: 100%;
    margin-left: 80px;
  }
}
@media only screen and (max-width: 400px) {
  .housing-design .housing-design-img {
    margin-bottom: 20px;
  }
  .housing-design .housing-design-img p img {
    width: 320px;
    height: 320px;
    object-fit: cover;
  }
}
.title-box .work-margin {
  margin-left: 20px;
}
.title-box .work-cards {
  display: flex;
  flex-wrap: wrap;
}
.title-box .work-card .work-box {
  overflow: hidden;
  position: relative;
  width: 24em;
  height: auto;
  margin-bottom: 50px;
}
.title-box .work-card .work-box:hover .mask {
  opacity: 1;
  /* マスクを表示する */
}
.title-box .work-card .work-box .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0;
  /* マスクを表示しない */
  background-color: rgba(135, 206, 250, 0.6);
  /* マスクは半透明 */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-left: 20px;
}
.title-box .work-card .work-box .mask a {
  text-decoration: none;
}
.title-box .work-card .work-box .mask .caption {
  font-size: 110%;
  text-align: center;
  padding-top: 100px;
  color: #fff;
  line-height: 25px;
}
.title-box .work-card .work-box img {
  width: 100%;
  height: 243px;
  margin-left: 20px;
}
.title-box:last-child {
  margin-bottom: 80px;
}

@media only screen and (max-width: 1000px) {
  .title-box .work-margin {
    margin-left: 20px;
  }
  .title-box .work-card .work-box {
    height: 220px;
    margin-bottom: 20px;
  }
  .title-box .work-card .work-box img {
    height: 220px;
  }

  .work-width {
    width: 90%;
  }
}
@media only screen and (max-width: 900px) {
  .title-box .work-cards {
    display: block;
  }
  .title-box .work-cards .work-box {
    width: 100%;
    height: 243px;
    margin-bottom: 20px;
  }
  .title-box .work-cards .work-box .mask {
    margin-left: 0px;
  }
  .title-box .work-cards .work-box img {
    object-fit: cover;
    width: 100%;
    height: 243px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .work-width {
    width: 90%;
  }
}
.detail-titleBox {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 0px;
  margin-bottom: 40px;
}
.detail-titleBox h1 {
  color: #121212;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 30px;
}

.detail-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.detail-box .detail-img {
  flex-wrap: wrap;
  width: 70%;
  margin-right: 30px;
}
.detail-box .detail-img a {
  width: 32%;
  height: 240px;
}
.detail-box .detail-img a img {
  width: 14em;
  height: auto;
  margin-bottom: 20px;
  margin-left: 20px;
}
.detail-box .detail-text {
  width: 30%;
  font-size: 16px;
  line-height: 24px;
  white-space: pre-wrap;
}

.detail-image {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.detail-image a {
  width: 200px;
  height: auto;
}
.detail-image a img {
  width: 200px;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .detail-box {
    flex-direction: column-reverse;
  }
  .detail-box .detail-img {
    display: block;
    width: 100%;
  }
  .detail-box .detail-img a {
    width: 100%;
  }
  .detail-box .detail-img a img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .detail-box .detail-text {
    width: 100%;
    line-height: 25px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 550px) {
  .detail-box .detail-img a img {
    object-fit: cover;
    width: 100%;
    height: 150px;
  }
}
.magazine-title h1 {
  color: #333;
  font-weight: bold;
  padding-bottom: 20px;
}
.magazine-title p {
  line-height: 22px;
  margin-bottom: 25px;
}

.magazine-text {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 90px;
}
.magazine-text h2 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 30px;
}
.magazine-text p {
  color: #333;
}

@media only screen and (max-width: 462px) {
  .magazine-text {
    padding-bottom: 20px;
    margin-bottom: 50px;
  }
}
.profile-title {
  margin-bottom: 80px;
}
.profile-title h1 {
  color: #333;
  font-weight: bolder;
  padding-bottom: 20px;
}
.profile-title p > img {
  margin-bottom: 20px;
  width: 200px;
  height: auto;
}
.profile-title p {
  line-height: 22px;
  margin-bottom: 25px;
}
.profile-title a {
  text-decoration: none;
  color: #5fa6ac;
}

@media only screen and (max-width: 462px) {
  .profile-title h1 {
    font-size: 28px;
  }
  .profile-title p > img {
    object-fit: cover;
    width: 200px;
    height: 200px;
  }
}
.overview {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.overview .overview-text {
  width: 50%;
  margin-right: 60px;
  font-weight: bold;
  line-height: 28px;
}
.overview .overview-text p {
  margin-bottom: 40px;
}

@media only screen and (max-width: 782px) {
  .overview {
    flex-direction: column-reverse;
  }
  .overview .overview-text {
    width: 90%;
  }
  .overview .overview-text p {
    margin-bottom: 30px;
  }
  .overview .overview-img img {
    width: 100%;
    height: 250px;
  }
}
@media only screen and (max-width: 680px) {
  .overview .overview-text {
    width: 100%;
  }
  .overview .overview-img img {
    width: 100%;
    height: 200px;
  }
}
.flow {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.flow .flow-box {
  width: 50%;
  margin-right: 40px;
}
.flow .flow-box .flow-list {
  color: #333;
  margin-bottom: 50px;
}
.flow .flow-box .flow-list h2 {
  font-size: 18px;
  font-weight: bold;
}
.flow .flow-box .flow-list p {
  line-height: 25px;
}
.flow .flow-box .flow-list .flow-text-color {
  font-weight: bolder;
  color: #e36c09;
}
.flow .flow-box .flow-list span {
  font-weight: bolder;
  color: #565656;
}

@media only screen and (max-width: 988px) {
  .flow {
    flex-direction: column-reverse;
  }
  .flow .flow-box {
    width: 90%;
  }
  .flow .flow-img {
    margin-bottom: 30px;
  }
  .flow .flow-img img {
    width: 100%;
    height: 250px;
  }
}
@media only screen and (max-width: 462px) {
  .flow .flow-box {
    width: 100%;
  }
  .flow .flow-box .flow-list {
    color: #333;
    margin-bottom: 40px;
  }
  .flow .flow-box .flow-list h2 {
    font-size: 18px;
    font-weight: bold;
  }
  .flow .flow-box .flow-list p {
    line-height: 20px;
  }
  .flow .flow-img {
    margin-bottom: 20px;
  }
  .flow .flow-img img {
    height: 200px;
  }
}/*# sourceMappingURL=style.css.map */